<div *screenBelowLarge class="title-bar-small">
  <i class="fa fa-bars" (click)="menuService.toggleLeftSideMenu()" aria-hidden="true"></i>
  <div class="small-image-holder">
    <!-- <img class="small-image" src="assets/logo.png" alt=""> -->
    <i class="fa fa-linux" aria-hidden="true"></i>
    Logo
  </div>
  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
</div>
<div *screenLarge class="title-bar">
  <i class="fa fa-linux" aria-hidden="true"></i>
  Logo
  <div class="menu-area">
    <app-top-bar></app-top-bar>
    <app-menu *ngIf="!menuService.isVertical"></app-menu>
  </div>
</div>
